.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #1A1A1D;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  min-height: 90%;
  height: 500px;
  max-width: 45%;
  min-width: 40%;
}

.container-column {
  flex: 50%;
}

a {
  color: white;
}

@media (min-width: 630px) and (max-width: 800px) {
  .outerContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  #container {
    max-width: 80vw;
    height: 70vh;
  }
}

@media (min-width: 810px) and (max-width: 1200px) {
  .outerContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  #container {
    max-width: 60%;
    
  }
}

@media (max-width: 629px) {
  .outerContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  #container {
    max-width: 80vw;
    height: 70vh;
  }

  
}