.textContainer {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    color: white;
    height: 90%;
    width: 30%;
    justify-content: space-between;
  }

  #scrollbar {
    overflow-y: auto;
    height: 70vh;
    width: 24vw;
  }

  #scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  #scrollbar::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  #scrollbar::-webkit-scrollbar-thumb
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
  }
  
  .activeContainer {
    display: flex;
    margin-bottom: 50%;
    padding: 5px 0 7px 0;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
    word-wrap: break-word;
  }
  
  .activeContainer img {
    padding-left: 10px;
  }
  
  .textContainer h1 {
    margin-bottom: 0px;
  }
  
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
  }